header {

    text-align: center
}

h2 {

    text-align: center;
}

textarea {

    width: 200px;
    height: 200px;

        
    display: block;
    margin: 0px auto;

}

.wrapper {

    text-align: center;

    padding: 20px;
}

.btn-location {
    display: inline-block;


}